<div *ngIf="songs">
    <div *ngIf="songs[0]">
        Title: {{songs[0].title}}
        Album: {{songs[0].album}}
        Artist: {{songs[0].artist}}
        Votes: {{songs[0].votes}}
        ID: {{songs[0].id}}
        
    </div>
    <div *ngIf="songs[1]">
        Title: {{songs[1].title}}
        Album: {{songs[1].album}}
        Artist: {{songs[1].artist}}
        Votes: {{songs[1].votes}}
        ID: {{songs[1].id}}
    </div>
    <div *ngIf="songs[2]">
        Title: {{songs[2].title}}
        Album: {{songs[2].album}}
        Artist: {{songs[2].artist}}
        Votes: {{songs[2].votes}}
        ID: {{songs[2].id}}
    </div>
</div>
